div {
  background-color: #1c647e;
  max-width: 50%;
  border-color: #227ca2;
  border-style: groove;
  border-width: 3px;
}
.selected {
  background-color: pink;
}
p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
}
li {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  list-style-type: square;
}
