div {
  background-color: black;
  max-width: 50%;
  border-color: darkblue;
  border-style: groove;
  border-width: 10px;
}
.selected {
  background-color: pink;
}
p {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}
li {
  font-family: 'Montserrat', sans-serif;
  color: white;
  list-style-type: square;
}
