div {
  background-color: #227ca2;
  border-color: #1c647e;
  border-style: double;
  border-width: .5em;
}

.selected {
  background-color: #1c647e;
  text-decoration: underline;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
}

li::marker {
  color: red;
  width: 6em;
  text-align: center;
  }

li {
  font-family: 'Montserrat', sans-serif;
  /*color: #d9d9d9;*/
  /*list-style-type: square;*/
  display: list-item;
}



li:hover {
  cursor: pointer;
  background-color: #55accf;
  text-decoration: underline;
}

/*ul li::before {
  content: "\2022";
  color: #1c647e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  font-size: 2em;
  margin-left: -0.5em;
}*/

