div {
  background-color: #1c647e;
  max-width: 70%;
  border-color: #227ca2;
  border-style: groove;
  border-width: 3px;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
}
