div {
  background-color: #227ca2;
  border-color: #1c647e;
  border-style: double;
  border-width: .5em;
}

.error {
  border: none;
  color: darkred;
}

.container {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #d9d9d9;
}

input {
  border: none;
  background-color: #d9d9d9;
  color: #1c647e;
  padding: 5px 20px;
}

input:focus {
  background-color: #333333;
}

button {
  background-color: #1c647e;
  border: none;
  color: #d9d9d9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

#btn {
  display: flex;
  align-content: center;
  border: none;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  text-align: center;
}
